Repository open-atmos/PySDM, pull requests merged in 2025-04, with the labels that each got.

#1563 INAS freezing temperature sampling in A&A example
  examples/PySDM_examples/Abade_and_Albuquerque_2024/fig_2.ipynb
  examples/PySDM_examples/Abade_and_Albuquerque_2024/settings.py
  examples/PySDM_examples/Abade_and_Albuquerque_2024/simulation.py
  tests/smoke_tests/parcel_c/abade_and_albuquerque_2024/test_fig_2.py
Labels: ice

#1566 recording temperature of last freezing for time-dependent immersion freezing
  PySDM/attributes/ice/freezing_temperature.py
  PySDM/backends/impl_numba/methods/freezing_methods.py
  PySDM/backends/impl_thrust_rtc/methods/freezing_methods.py
  PySDM/dynamics/freezing.py
  PySDM/particulator.py
  tests/unit_tests/dynamics/test_immersion_freezing.py
Labels: ice

#1556 ventilation: new example based on fig. 1 from Stewart 1975 (and including data from Kinzer & Gunn 1951)
  docs/bibliography.json
  examples/PySDM_examples/Kinzer_And_Gunn_1951/__init__.py
  examples/PySDM_examples/Kinzer_And_Gunn_1951/table_1_and_2.py
  examples/PySDM_examples/Stewart_1975/__init__.py
  examples/PySDM_examples/Stewart_1975/fig_1.ipynb
  tests/examples_tests/conftest.py
  tests/smoke_tests/no_env/kinzer_and_gunn_1951/__init__.py
  tests/smoke_tests/no_env/kinzer_and_gunn_1951/test_table_1_and_2.py
  tests/smoke_tests/no_env/stewart_1975/__init__.py
  tests/smoke_tests/no_env/stewart_1975/test_fig_1.py
Labels: isotopes

#1573 add new example for ventilation factors (Pruppacher and Rasmussen 1979) --- from #1494
  PySDM/physics/constants_defaults.py
  PySDM/physics/ventilation/pruppacher_rasmussen_1979.py
  docs/bibliography.json
  examples/PySDM_examples/Pruppacher_and_Rasmussen_1979/__init__.py
  examples/PySDM_examples/Pruppacher_and_Rasmussen_1979/fig_1.ipynb
  tests/examples_tests/conftest.py
  tests/smoke_tests/no_env/pruppacher_and_rasmussen_1979/__init__.py
  tests/smoke_tests/no_env/pruppacher_and_rasmussen_1979/test_fig_1.py
Labels: ventilation
