Repository open-atmos/PySDM, pull requests merged in 2025-07, with the labels that each got.

#1494 Isotopic relaxation timescales comparison including two new timescale definitions: JouzelEtAl1975 & ZabaEtAl (+ workaround for Pillow deprecation warnings from matplotlib)
  .github/workflows/readme_snippets.yml
  PySDM/physics/homogeneous_ice_nucleation_rate/constant.py
  PySDM/physics/homogeneous_ice_nucleation_rate/koop.py
  PySDM/physics/homogeneous_ice_nucleation_rate/koop_corr.py
  PySDM/physics/homogeneous_ice_nucleation_rate/koop_murray.py
  PySDM/physics/homogeneous_ice_nucleation_rate/null.py
  PySDM/physics/isotope_diffusivity_ratios/grahams_law.py
  PySDM/physics/isotope_relaxation_timescale/__init__.py
  PySDM/physics/isotope_relaxation_timescale/bolin_1958.py
  PySDM/physics/isotope_relaxation_timescale/jouzel_et_al_1975.py
  PySDM/physics/isotope_relaxation_timescale/miyake_et_al_1968.py
  PySDM/physics/isotope_relaxation_timescale/zaba_et_al.py
  PySDM/physics/particle_shape_and_density/liquid_spheres.py
  docs/bibliography.json
  examples/PySDM_examples/Bolin_1958/table_1.ipynb
  examples/PySDM_examples/Miyake_et_al_1968/fig_19.ipynb
  examples/PySDM_examples/Pruppacher_and_Rasmussen_1979/fig_1.ipynb
  examples/PySDM_examples/Rogers_1975/fig_1.ipynb
  examples/PySDM_examples/Van_Hook_1968/fig_1.ipynb
  examples/PySDM_examples/Zaba_et_al/__init__.py
  examples/PySDM_examples/Zaba_et_al/global_meteoric_water_line.ipynb
  examples/PySDM_examples/Zaba_et_al/timescales_comparison.ipynb
  examples/setup.py
  setup.py
  tests/examples_tests/conftest.py
  tests/smoke_tests/no_env/pruppacher_and_rasmussen_1979/test_fig_1.py
  tests/smoke_tests/no_env/zaba_et_al/__init__.py
  tests/smoke_tests/no_env/zaba_et_al/test_global_meteoric_water_line.py
  tests/smoke_tests/no_env/zaba_et_al_2025/__init__.py
  tests/unit_tests/physics/test_isotope_diffusivity_ratios.py
  tests/unit_tests/physics/test_isotope_relaxation_timescale.py
  tests/unit_tests/physics/test_particle_shape_and_density.py
Labels: isotopes

#1643 ice diffusion capacity: refactor for spherical & added columnar (+ several speedups in unrelated codes which started timeouting due to longer compilation time)
  .github/workflows/tests.yml
  PySDM/backends/impl_numba/methods/deposition_methods.py
  PySDM/physics/constants_defaults.py
  PySDM/physics/diffusion_ice_capacity/__init__.py
  PySDM/physics/diffusion_ice_capacity/columnar.py
  PySDM/physics/diffusion_ice_capacity/spherical.py
  PySDM/physics/diffusion_ice_kinetics/standard.py
  PySDM/physics/particle_shape_and_density/__init__.py
  PySDM/physics/particle_shape_and_density/columnar_ice.py
  PySDM/physics/particle_shape_and_density/porous_spheroids.py
  docs/bibliography.json
  examples/PySDM_examples/Berry_1967/figs_5_8_10.ipynb
  examples/PySDM_examples/Lowe_et_al_2019/settings.py
  examples/PySDM_examples/Lowe_et_al_2019/simulation.py
  examples/PySDM_examples/Shima_et_al_2009/example.py
  examples/PySDM_examples/Shima_et_al_2009/fig_2.ipynb
  tests/unit_tests/dynamics/test_vapour_deposition_on_ice.py
  tests/unit_tests/physics/test_diffusion_ice_capacity.py
  tests/unit_tests/physics/test_particle_shape_and_density.py
Labels: ice

#1676 dry-radius initialisation by computing equilibrium size for a given input wet radii (incl. API module-name change: `initialisation.equilibrate_wet_radii` -> `initialisation.hygroscopic_equilibrium`)
  PySDM/environments/kinematic_1d.py
  PySDM/environments/kinematic_2d.py
  PySDM/environments/parcel.py
  PySDM/initialisation/__init__.py
  PySDM/initialisation/equilibrate_wet_radii.py
  PySDM/initialisation/hygroscopic_equilibrium.py
  docs/markdown/pysdm_landing.md
  examples/PySDM_examples/Abdul_Razzak_Ghan_2000/run_ARG_parcel.py
  examples/PySDM_examples/Arabas_and_Shima_2017/simulation.py
  examples/PySDM_examples/Arabas_et_al_2025/aida.ipynb
  examples/PySDM_examples/Grabowski_and_Pawlowska_2023/simulation.py
  examples/PySDM_examples/Graf_et_al_2019/figure_4.ipynb
  examples/PySDM_examples/Lowe_et_al_2019/simulation.py
  examples/PySDM_examples/Niedermeier_et_al_2014/simulation.py
  examples/PySDM_examples/Pyrcel/simulation.py
  examples/PySDM_examples/Spichtinger_et_al_2023/simulation.py
  tests/smoke_tests/box/partmc/test_dry_wet_equilibration.py
  tests/smoke_tests/parcel_c/abdul_razzak_ghan_2000/test_single_supersaturation_peak.py
  tests/unit_tests/dynamics/condensation/test_parcel_sanity_checks.py
  tests/unit_tests/initialisation/test_equilibrate_wet_radii.py
  tests/unit_tests/initialisation/test_hygroscopic_equilibrium.py
Labels: condensation
